pre, textarea, body, input, td, tr, p {
    background-color: #c0c0c0 !important;
    background-image: none !important;
    color: black !important;
}

div {
    background-color: #c0c0c0 !important;
    background-image: none !important;
    color: black !important;
}

h1, h2, h3, h4 {
    background-color: #c0c0c0 !important;
    color: black !important;
}

a {
    color: #0000ff !important;
}

body {
    color: black !important;
}
